openapi: 3.0.1
info:
  description: "This RESTful API can be used to engage the Microsoft Security Response\
    \ Center (MSRC) in the following ways:\r\n\r\n- Get security update summaries\
    \ and details using the [Common Vulnerability Reporting Framework](https://www.icasi.org/cvrf)\
    \ (CVRF).\r\n\r\n- Report suspected cyberattacks or abuse originating from Microsoft\
    \ Online Services.\r\n\r\n- Notify Microsoft of any planned penetration tests\
    \ against your Azure assets.\r\n\r\n**Sample client code** is available on the\
    \ Microsoft Security [Updates](https://github.com/microsoft/MSRC-Microsoft-Security-Updates-API)\
    \ and [Engage](https://github.com/Microsoft/MSRC-Microsoft-Engage-API) \r\nGithub\
    \ repositories."
  title: MSRC Public API
  version: v1
servers:
- url: https://api.msrc.microsoft.com/
paths:
  /cvrf/{id}:
    get:
      description: "Get detailed Microsoft security update, formatted according to\
        \ the [Common Vulnerability Reporting\r\nFramework](http://www.icasi.org/cvrf/).\
        \ MSRC investigates all reports of\r\nsecurity vulnerabilities affecting Microsoft\
        \ products and services, and provides these updates as part of the\r\nongoing\
        \ effort to help you manage security risks and help keep your systems protected."
      operationId: Cvrf_GetCvrf
      parameters:
      - description: CVRF document ID (yyyy-mmm)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: API version (yyyy), e.g. 2017
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cvrfdoc'
            text/json:
              schema:
                $ref: '#/components/schemas/cvrfdoc'
            application/xml:
              schema:
                $ref: '#/components/schemas/cvrfdoc'
            text/xml:
              schema:
                $ref: '#/components/schemas/cvrfdoc'
          description: OK
        "400":
          content: {}
          description: Bad Request
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get security update details in CVRF format
      tags:
      - Get Security Updates
  /engage/cars:
    post:
      description: "Submit reports to Microsoft's Computer Emergency Response Team\
        \ (CERT) using the Common Abuse Reporting System (CARS).\r\nThis action is\
        \ to report suspected cyberattacks or abuse originating from Microsoft Online\
        \ Services,\r\nsuch as Azure, Bing, Outlook, OneDrive, and Office 365. This\
        \ includes malicious network activity\r\noriginating from Microsoft IP addresses.\
        \ It also includes distribution of malicious content or other\r\nillicit material\
        \ through Microsoft Online Services."
      operationId: Cars_PostCarsReport
      parameters:
      - description: API version (yyyy)
        in: query
        name: api-version
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarsDto'
        description: CARS-formatted abuse report
        required: true
      responses:
        "202":
          content: {}
          description: Submitted Successfully
        "400":
          content: {}
          description: Bad Request
        "401":
          content: {}
          description: Unauthorized
        "415":
          content: {}
          description: Unsupported Media Type
        "500":
          content: {}
          description: Internal Server Error
      summary: Submit an abuse report
      tags:
      - Engage the Microsoft Security Response Center (MSRC)
      x-codegen-request-body-name: carsDto
  /updates:
    get:
      description: Get a list of all Microsoft security updates. Each includes a link
        to the update details, formatted according to the [Common Vulnerability Reporting
        Framework](https://www.icasi.org/cvrf). This list can be manipulated using
        [OData URL filtering](https://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part2-url-conventions/odata-v4.0-errata03-os-part2-url-conventions-complete.html#_Toc453752356)
        on current and initial release dates.
      operationId: Updates_GetUpdates
      parameters:
      - description: API version (yyyy), e.g. 2017
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
        "400":
          content: {}
          description: Bad Request
        "401":
          content: {}
          description: Unauthorized
        "500":
          content: {}
          description: Internal Server Error
      summary: Get all security update summaries
      tags:
      - Get Security Updates
  /Updates('{key}'):
    get:
      description: "Get a list of Microsoft security updates by update ID, vulnerability\
        \ ID ([CVE](https://cve.mitre.org/about)), or year. Each includes a link to\
        \ the update details, formatted according to the [Common Vulnerability Reporting\
        \ Framework](https://www.icasi.org/cvrf). This list can be manipulated using\
        \ [OData URL filtering](https://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part2-url-conventions/odata-v4.0-errata03-os-part2-url-conventions-complete.html#_Toc453752356)\
        \ on current and initial release dates.\r\n\r\nNOTE: this endpoint is case-sensitive."
      operationId: Updates_GetUpdatesByKey
      parameters:
      - description: API version (yyyy), e.g. 2017
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: update ID (yyyy-mmm), vulnerability ID (CVE number), or year
          (yyyy)
        in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
        "400":
          content: {}
          description: Bad Request
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get security update summaries by key
      tags:
      - Get Security Updates
components:
  schemas:
    RequesterInfo:
      description: information about the requester
      properties:
        contactEmail:
          description: requester email
          type: string
      required:
      - contactEmail
      type: object
    SubscriptionInfo:
      description: information about an Azure subscription
      properties:
        subscriptionId:
          description: Azure subscription ID
          type: string
      required:
      - subscriptionId
      type: object
    TestInfo:
      description: information about a penetration test
      properties:
        startDate:
          description: date testing will commence
          type: string
        endDate:
          description: date testing will end
          type: string
        testDescription:
          description: detailed summary of the planned testing, including types of
            tests and a list of targeted assets (IP or FQDN)
          type: string
      required:
      - endDate
      - startDate
      - testDescription
      type: object
    cvrfdoc:
      example:
        AggregateSeverity:
          Value: Value
          lang: lang
          Namespace: Namespace
        Acknowledgments:
        - Organization:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
          Description:
            Value: Value
            lang: lang
          URL:
          - URL
          - URL
          Name:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
        - Organization:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
          Description:
            Value: Value
            lang: lang
          URL:
          - URL
          - URL
          Name:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
        DocumentPublisher:
          Type: 0
          ContactDetails:
            Value: Value
            lang: lang
          VendorID: VendorID
          IssuingAuthority:
            Value: Value
            lang: lang
        DocumentType:
          Value: Value
          lang: lang
        DocumentNotes:
        - Type: 1
          Audience: Audience
          Ordinal: Ordinal
          Value: Value
          Title: Title
          lang: lang
        - Type: 1
          Audience: Audience
          Ordinal: Ordinal
          Value: Value
          Title: Title
          lang: lang
        DocumentDistribution:
          Value: Value
          lang: lang
        Vulnerability:
        - Threats:
          - Type: 4
            Description:
              Value: Value
              lang: lang
            ProductID:
            - ProductID
            - ProductID
            DateSpecified: true
            Date: 2000-01-23T04:56:07.000+00:00
            GroupID:
            - GroupID
            - GroupID
          - Type: 4
            Description:
              Value: Value
              lang: lang
            ProductID:
            - ProductID
            - ProductID
            DateSpecified: true
            Date: 2000-01-23T04:56:07.000+00:00
            GroupID:
            - GroupID
            - GroupID
          Involvements:
          - Status: 3
            Description:
              Value: Value
              lang: lang
            Party: 9
          - Status: 3
            Description:
              Value: Value
              lang: lang
            Party: 9
          ProductStatuses:
          - Type: 2
            ProductID:
            - ProductID
            - ProductID
          - Type: 2
            ProductID:
            - ProductID
            - ProductID
          ReleaseDateSpecified: true
          Title:
            Value: Value
            lang: lang
          Remediations:
          - Type: 1
            Description:
              Value: Value
              lang: lang
            RestartRequired:
              Value: Value
              lang: lang
            SubType: SubType
            AffectedFiles:
            - FilePath: FilePath
              FileArchitecture: FileArchitecture
              FileName: FileName
              FileVersion: FileVersion
              FileLastModified: 2000-01-23T04:56:07.000+00:00
              ProductId: ProductId
            - FilePath: FilePath
              FileArchitecture: FileArchitecture
              FileName: FileName
              FileVersion: FileVersion
              FileLastModified: 2000-01-23T04:56:07.000+00:00
              ProductId: ProductId
            Supercedence: Supercedence
            ProductID:
            - ProductID
            - ProductID
            DateSpecified: true
            Entitlement:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
            URL: URL
            Date: 2000-01-23T04:56:07.000+00:00
            GroupID:
            - GroupID
            - GroupID
          - Type: 1
            Description:
              Value: Value
              lang: lang
            RestartRequired:
              Value: Value
              lang: lang
            SubType: SubType
            AffectedFiles:
            - FilePath: FilePath
              FileArchitecture: FileArchitecture
              FileName: FileName
              FileVersion: FileVersion
              FileLastModified: 2000-01-23T04:56:07.000+00:00
              ProductId: ProductId
            - FilePath: FilePath
              FileArchitecture: FileArchitecture
              FileName: FileName
              FileVersion: FileVersion
              FileLastModified: 2000-01-23T04:56:07.000+00:00
              ProductId: ProductId
            Supercedence: Supercedence
            ProductID:
            - ProductID
            - ProductID
            DateSpecified: true
            Entitlement:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
            URL: URL
            Date: 2000-01-23T04:56:07.000+00:00
            GroupID:
            - GroupID
            - GroupID
          ReleaseDate: 2000-01-23T04:56:07.000+00:00
          CWE:
          - Value: Value
            ID: ID
            lang: lang
          - Value: Value
            ID: ID
            lang: lang
          CVE: CVE
          CVSSScoreSets:
          - TemporalScore: 1.2315135367772556
            EnvironmentalScore: 1.0246457001441578
            ProductID:
            - ProductID
            - ProductID
            BaseScore: 7.386281948385884
            Vector: Vector
          - TemporalScore: 1.2315135367772556
            EnvironmentalScore: 1.0246457001441578
            ProductID:
            - ProductID
            - ProductID
            BaseScore: 7.386281948385884
            Vector: Vector
          Acknowledgments:
          - Organization:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
            Description:
              Value: Value
              lang: lang
            URL:
            - URL
            - URL
            Name:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
          - Organization:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
            Description:
              Value: Value
              lang: lang
            URL:
            - URL
            - URL
            Name:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
          DiscoveryDate: 2000-01-23T04:56:07.000+00:00
          RevisionHistory:
          - Description:
              Value: Value
              lang: lang
            Number: Number
            Date: 2000-01-23T04:56:07.000+00:00
          - Description:
              Value: Value
              lang: lang
            Number: Number
            Date: 2000-01-23T04:56:07.000+00:00
          References:
          - Type: 6
            Description:
              Value: Value
              lang: lang
            URL: URL
          - Type: 6
            Description:
              Value: Value
              lang: lang
            URL: URL
          Ordinal: Ordinal
          DiscoveryDateSpecified: true
          ID:
            Value: Value
            SystemName: SystemName
          Notes:
          - Type: 7
            Audience: Audience
            Ordinal: Ordinal
            Value: Value
            Title: Title
            lang: lang
          - Type: 7
            Audience: Audience
            Ordinal: Ordinal
            Value: Value
            Title: Title
            lang: lang
        - Threats:
          - Type: 4
            Description:
              Value: Value
              lang: lang
            ProductID:
            - ProductID
            - ProductID
            DateSpecified: true
            Date: 2000-01-23T04:56:07.000+00:00
            GroupID:
            - GroupID
            - GroupID
          - Type: 4
            Description:
              Value: Value
              lang: lang
            ProductID:
            - ProductID
            - ProductID
            DateSpecified: true
            Date: 2000-01-23T04:56:07.000+00:00
            GroupID:
            - GroupID
            - GroupID
          Involvements:
          - Status: 3
            Description:
              Value: Value
              lang: lang
            Party: 9
          - Status: 3
            Description:
              Value: Value
              lang: lang
            Party: 9
          ProductStatuses:
          - Type: 2
            ProductID:
            - ProductID
            - ProductID
          - Type: 2
            ProductID:
            - ProductID
            - ProductID
          ReleaseDateSpecified: true
          Title:
            Value: Value
            lang: lang
          Remediations:
          - Type: 1
            Description:
              Value: Value
              lang: lang
            RestartRequired:
              Value: Value
              lang: lang
            SubType: SubType
            AffectedFiles:
            - FilePath: FilePath
              FileArchitecture: FileArchitecture
              FileName: FileName
              FileVersion: FileVersion
              FileLastModified: 2000-01-23T04:56:07.000+00:00
              ProductId: ProductId
            - FilePath: FilePath
              FileArchitecture: FileArchitecture
              FileName: FileName
              FileVersion: FileVersion
              FileLastModified: 2000-01-23T04:56:07.000+00:00
              ProductId: ProductId
            Supercedence: Supercedence
            ProductID:
            - ProductID
            - ProductID
            DateSpecified: true
            Entitlement:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
            URL: URL
            Date: 2000-01-23T04:56:07.000+00:00
            GroupID:
            - GroupID
            - GroupID
          - Type: 1
            Description:
              Value: Value
              lang: lang
            RestartRequired:
              Value: Value
              lang: lang
            SubType: SubType
            AffectedFiles:
            - FilePath: FilePath
              FileArchitecture: FileArchitecture
              FileName: FileName
              FileVersion: FileVersion
              FileLastModified: 2000-01-23T04:56:07.000+00:00
              ProductId: ProductId
            - FilePath: FilePath
              FileArchitecture: FileArchitecture
              FileName: FileName
              FileVersion: FileVersion
              FileLastModified: 2000-01-23T04:56:07.000+00:00
              ProductId: ProductId
            Supercedence: Supercedence
            ProductID:
            - ProductID
            - ProductID
            DateSpecified: true
            Entitlement:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
            URL: URL
            Date: 2000-01-23T04:56:07.000+00:00
            GroupID:
            - GroupID
            - GroupID
          ReleaseDate: 2000-01-23T04:56:07.000+00:00
          CWE:
          - Value: Value
            ID: ID
            lang: lang
          - Value: Value
            ID: ID
            lang: lang
          CVE: CVE
          CVSSScoreSets:
          - TemporalScore: 1.2315135367772556
            EnvironmentalScore: 1.0246457001441578
            ProductID:
            - ProductID
            - ProductID
            BaseScore: 7.386281948385884
            Vector: Vector
          - TemporalScore: 1.2315135367772556
            EnvironmentalScore: 1.0246457001441578
            ProductID:
            - ProductID
            - ProductID
            BaseScore: 7.386281948385884
            Vector: Vector
          Acknowledgments:
          - Organization:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
            Description:
              Value: Value
              lang: lang
            URL:
            - URL
            - URL
            Name:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
          - Organization:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
            Description:
              Value: Value
              lang: lang
            URL:
            - URL
            - URL
            Name:
            - Value: Value
              lang: lang
            - Value: Value
              lang: lang
          DiscoveryDate: 2000-01-23T04:56:07.000+00:00
          RevisionHistory:
          - Description:
              Value: Value
              lang: lang
            Number: Number
            Date: 2000-01-23T04:56:07.000+00:00
          - Description:
              Value: Value
              lang: lang
            Number: Number
            Date: 2000-01-23T04:56:07.000+00:00
          References:
          - Type: 6
            Description:
              Value: Value
              lang: lang
            URL: URL
          - Type: 6
            Description:
              Value: Value
              lang: lang
            URL: URL
          Ordinal: Ordinal
          DiscoveryDateSpecified: true
          ID:
            Value: Value
            SystemName: SystemName
          Notes:
          - Type: 7
            Audience: Audience
            Ordinal: Ordinal
            Value: Value
            Title: Title
            lang: lang
          - Type: 7
            Audience: Audience
            Ordinal: Ordinal
            Value: Value
            Title: Title
            lang: lang
        DocumentTitle:
          Value: Value
          lang: lang
        ProductTree:
          Branch:
          - Type: 5
            Items:
            - '{}'
            - '{}'
            Name: Name
          - Type: 5
            Items:
            - '{}'
            - '{}'
            Name: Name
          Relationship:
          - RelatesToProductReference: RelatesToProductReference
            ProductReference: ProductReference
            RelationType: 2
            FullProductName:
            - Value: Value
              CPE: CPE
              ProductID: ProductID
            - Value: Value
              CPE: CPE
              ProductID: ProductID
          - RelatesToProductReference: RelatesToProductReference
            ProductReference: ProductReference
            RelationType: 2
            FullProductName:
            - Value: Value
              CPE: CPE
              ProductID: ProductID
            - Value: Value
              CPE: CPE
              ProductID: ProductID
          FullProductName:
          - Value: Value
            CPE: CPE
            ProductID: ProductID
          - Value: Value
            CPE: CPE
            ProductID: ProductID
          ProductGroups:
          - Description:
              Value: Value
              lang: lang
            ProductID:
            - ProductID
            - ProductID
            GroupID: GroupID
          - Description:
              Value: Value
              lang: lang
            ProductID:
            - ProductID
            - ProductID
            GroupID: GroupID
        DocumentTracking:
          Status: 6
          Version: Version
          RevisionHistory:
          - Description:
              Value: Value
              lang: lang
            Number: Number
            Date: 2000-01-23T04:56:07.000+00:00
          - Description:
              Value: Value
              lang: lang
            Number: Number
            Date: 2000-01-23T04:56:07.000+00:00
          Identification:
            Alias:
              Value: Value
              lang: lang
            ID:
              Value: Value
              lang: lang
          CurrentReleaseDate: 2000-01-23T04:56:07.000+00:00
          InitialReleaseDate: 2000-01-23T04:56:07.000+00:00
          Generator:
            DateSpecified: true
            Engine:
              Value: Value
              lang: lang
            Date: 2000-01-23T04:56:07.000+00:00
        DocumentReferences:
        - Type: 5
          Description:
            Value: Value
            lang: lang
          URL: URL
        - Type: 5
          Description:
            Value: Value
            lang: lang
          URL: URL
      properties:
        DocumentTitle:
          $ref: '#/components/schemas/cvrfdocDocumentTitle'
        DocumentType:
          $ref: '#/components/schemas/cvrfdocDocumentType'
        DocumentPublisher:
          $ref: '#/components/schemas/cvrfdocDocumentPublisher'
        DocumentTracking:
          $ref: '#/components/schemas/cvrfdocDocumentTracking'
        DocumentNotes:
          items:
            $ref: '#/components/schemas/cvrfdocNote'
          type: array
        DocumentDistribution:
          $ref: '#/components/schemas/cvrfdocDocumentDistribution'
        AggregateSeverity:
          $ref: '#/components/schemas/cvrfdocAggregateSeverity'
        DocumentReferences:
          items:
            $ref: '#/components/schemas/cvrfdocReference'
          type: array
        Acknowledgments:
          items:
            $ref: '#/components/schemas/cvrfdocAcknowledgment'
          type: array
        ProductTree:
          $ref: '#/components/schemas/ProductTree'
        Vulnerability:
          items:
            $ref: '#/components/schemas/Vulnerability'
          type: array
      type: object
    cvrfdocDocumentTitle:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocDocumentType:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocDocumentPublisher:
      example:
        Type: 0
        ContactDetails:
          Value: Value
          lang: lang
        VendorID: VendorID
        IssuingAuthority:
          Value: Value
          lang: lang
      properties:
        ContactDetails:
          $ref: '#/components/schemas/cvrfdocDocumentPublisherContactDetails'
        IssuingAuthority:
          $ref: '#/components/schemas/cvrfdocDocumentPublisherIssuingAuthority'
        Type:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        VendorID:
          type: string
      type: object
    cvrfdocDocumentTracking:
      example:
        Status: 6
        Version: Version
        RevisionHistory:
        - Description:
            Value: Value
            lang: lang
          Number: Number
          Date: 2000-01-23T04:56:07.000+00:00
        - Description:
            Value: Value
            lang: lang
          Number: Number
          Date: 2000-01-23T04:56:07.000+00:00
        Identification:
          Alias:
            Value: Value
            lang: lang
          ID:
            Value: Value
            lang: lang
        CurrentReleaseDate: 2000-01-23T04:56:07.000+00:00
        InitialReleaseDate: 2000-01-23T04:56:07.000+00:00
        Generator:
          DateSpecified: true
          Engine:
            Value: Value
            lang: lang
          Date: 2000-01-23T04:56:07.000+00:00
      properties:
        Identification:
          $ref: '#/components/schemas/cvrfdocDocumentTrackingIdentification'
        Status:
          enum:
          - 0
          - 1
          - 2
          format: int32
          type: integer
        Version:
          type: string
        RevisionHistory:
          items:
            $ref: '#/components/schemas/cvrfdocDocumentTrackingRevision'
          type: array
        InitialReleaseDate:
          format: date-time
          type: string
        CurrentReleaseDate:
          format: date-time
          type: string
        Generator:
          $ref: '#/components/schemas/cvrfdocDocumentTrackingGenerator'
      type: object
    cvrfdocNote:
      example:
        Type: 1
        Audience: Audience
        Ordinal: Ordinal
        Value: Value
        Title: Title
        lang: lang
      properties:
        Title:
          type: string
        Audience:
          type: string
        Type:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          format: int32
          type: integer
        Ordinal:
          type: string
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocDocumentDistribution:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocAggregateSeverity:
      example:
        Value: Value
        lang: lang
        Namespace: Namespace
      properties:
        Namespace:
          type: string
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocReference:
      example:
        Type: 5
        Description:
          Value: Value
          lang: lang
        URL: URL
      properties:
        URL:
          type: string
        Description:
          $ref: '#/components/schemas/cvrfdocReferenceDescription'
        Type:
          enum:
          - 0
          - 1
          format: int32
          type: integer
      type: object
    cvrfdocAcknowledgment:
      example:
        Organization:
        - Value: Value
          lang: lang
        - Value: Value
          lang: lang
        Description:
          Value: Value
          lang: lang
        URL:
        - URL
        - URL
        Name:
        - Value: Value
          lang: lang
        - Value: Value
          lang: lang
      properties:
        Name:
          items:
            $ref: '#/components/schemas/cvrfdocAcknowledgmentName'
          type: array
        Organization:
          items:
            $ref: '#/components/schemas/cvrfdocAcknowledgmentOrganization'
          type: array
        Description:
          $ref: '#/components/schemas/cvrfdocAcknowledgmentDescription'
        URL:
          items:
            type: string
          type: array
      type: object
    ProductTree:
      example:
        Branch:
        - Type: 5
          Items:
          - '{}'
          - '{}'
          Name: Name
        - Type: 5
          Items:
          - '{}'
          - '{}'
          Name: Name
        Relationship:
        - RelatesToProductReference: RelatesToProductReference
          ProductReference: ProductReference
          RelationType: 2
          FullProductName:
          - Value: Value
            CPE: CPE
            ProductID: ProductID
          - Value: Value
            CPE: CPE
            ProductID: ProductID
        - RelatesToProductReference: RelatesToProductReference
          ProductReference: ProductReference
          RelationType: 2
          FullProductName:
          - Value: Value
            CPE: CPE
            ProductID: ProductID
          - Value: Value
            CPE: CPE
            ProductID: ProductID
        FullProductName:
        - Value: Value
          CPE: CPE
          ProductID: ProductID
        - Value: Value
          CPE: CPE
          ProductID: ProductID
        ProductGroups:
        - Description:
            Value: Value
            lang: lang
          ProductID:
          - ProductID
          - ProductID
          GroupID: GroupID
        - Description:
            Value: Value
            lang: lang
          ProductID:
          - ProductID
          - ProductID
          GroupID: GroupID
      properties:
        Branch:
          items:
            $ref: '#/components/schemas/BranchType'
          type: array
        FullProductName:
          items:
            $ref: '#/components/schemas/FullProductName'
          type: array
        Relationship:
          items:
            $ref: '#/components/schemas/ProductTreeRelationship'
          type: array
        ProductGroups:
          items:
            $ref: '#/components/schemas/ProductTreeGroup'
          type: array
      type: object
    Vulnerability:
      example:
        Threats:
        - Type: 4
          Description:
            Value: Value
            lang: lang
          ProductID:
          - ProductID
          - ProductID
          DateSpecified: true
          Date: 2000-01-23T04:56:07.000+00:00
          GroupID:
          - GroupID
          - GroupID
        - Type: 4
          Description:
            Value: Value
            lang: lang
          ProductID:
          - ProductID
          - ProductID
          DateSpecified: true
          Date: 2000-01-23T04:56:07.000+00:00
          GroupID:
          - GroupID
          - GroupID
        Involvements:
        - Status: 3
          Description:
            Value: Value
            lang: lang
          Party: 9
        - Status: 3
          Description:
            Value: Value
            lang: lang
          Party: 9
        ProductStatuses:
        - Type: 2
          ProductID:
          - ProductID
          - ProductID
        - Type: 2
          ProductID:
          - ProductID
          - ProductID
        ReleaseDateSpecified: true
        Title:
          Value: Value
          lang: lang
        Remediations:
        - Type: 1
          Description:
            Value: Value
            lang: lang
          RestartRequired:
            Value: Value
            lang: lang
          SubType: SubType
          AffectedFiles:
          - FilePath: FilePath
            FileArchitecture: FileArchitecture
            FileName: FileName
            FileVersion: FileVersion
            FileLastModified: 2000-01-23T04:56:07.000+00:00
            ProductId: ProductId
          - FilePath: FilePath
            FileArchitecture: FileArchitecture
            FileName: FileName
            FileVersion: FileVersion
            FileLastModified: 2000-01-23T04:56:07.000+00:00
            ProductId: ProductId
          Supercedence: Supercedence
          ProductID:
          - ProductID
          - ProductID
          DateSpecified: true
          Entitlement:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
          URL: URL
          Date: 2000-01-23T04:56:07.000+00:00
          GroupID:
          - GroupID
          - GroupID
        - Type: 1
          Description:
            Value: Value
            lang: lang
          RestartRequired:
            Value: Value
            lang: lang
          SubType: SubType
          AffectedFiles:
          - FilePath: FilePath
            FileArchitecture: FileArchitecture
            FileName: FileName
            FileVersion: FileVersion
            FileLastModified: 2000-01-23T04:56:07.000+00:00
            ProductId: ProductId
          - FilePath: FilePath
            FileArchitecture: FileArchitecture
            FileName: FileName
            FileVersion: FileVersion
            FileLastModified: 2000-01-23T04:56:07.000+00:00
            ProductId: ProductId
          Supercedence: Supercedence
          ProductID:
          - ProductID
          - ProductID
          DateSpecified: true
          Entitlement:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
          URL: URL
          Date: 2000-01-23T04:56:07.000+00:00
          GroupID:
          - GroupID
          - GroupID
        ReleaseDate: 2000-01-23T04:56:07.000+00:00
        CWE:
        - Value: Value
          ID: ID
          lang: lang
        - Value: Value
          ID: ID
          lang: lang
        CVE: CVE
        CVSSScoreSets:
        - TemporalScore: 1.2315135367772556
          EnvironmentalScore: 1.0246457001441578
          ProductID:
          - ProductID
          - ProductID
          BaseScore: 7.386281948385884
          Vector: Vector
        - TemporalScore: 1.2315135367772556
          EnvironmentalScore: 1.0246457001441578
          ProductID:
          - ProductID
          - ProductID
          BaseScore: 7.386281948385884
          Vector: Vector
        Acknowledgments:
        - Organization:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
          Description:
            Value: Value
            lang: lang
          URL:
          - URL
          - URL
          Name:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
        - Organization:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
          Description:
            Value: Value
            lang: lang
          URL:
          - URL
          - URL
          Name:
          - Value: Value
            lang: lang
          - Value: Value
            lang: lang
        DiscoveryDate: 2000-01-23T04:56:07.000+00:00
        RevisionHistory:
        - Description:
            Value: Value
            lang: lang
          Number: Number
          Date: 2000-01-23T04:56:07.000+00:00
        - Description:
            Value: Value
            lang: lang
          Number: Number
          Date: 2000-01-23T04:56:07.000+00:00
        References:
        - Type: 6
          Description:
            Value: Value
            lang: lang
          URL: URL
        - Type: 6
          Description:
            Value: Value
            lang: lang
          URL: URL
        Ordinal: Ordinal
        DiscoveryDateSpecified: true
        ID:
          Value: Value
          SystemName: SystemName
        Notes:
        - Type: 7
          Audience: Audience
          Ordinal: Ordinal
          Value: Value
          Title: Title
          lang: lang
        - Type: 7
          Audience: Audience
          Ordinal: Ordinal
          Value: Value
          Title: Title
          lang: lang
      properties:
        Title:
          $ref: '#/components/schemas/VulnerabilityTitle'
        ID:
          $ref: '#/components/schemas/VulnerabilityID'
        Notes:
          items:
            $ref: '#/components/schemas/VulnerabilityNote'
          type: array
        DiscoveryDate:
          format: date-time
          type: string
        DiscoveryDateSpecified:
          type: boolean
        ReleaseDate:
          format: date-time
          type: string
        ReleaseDateSpecified:
          type: boolean
        Involvements:
          items:
            $ref: '#/components/schemas/VulnerabilityInvolvement'
          type: array
        CVE:
          type: string
        CWE:
          items:
            $ref: '#/components/schemas/VulnerabilityCWE'
          type: array
        ProductStatuses:
          items:
            $ref: '#/components/schemas/VulnerabilityStatus'
          type: array
        Threats:
          items:
            $ref: '#/components/schemas/VulnerabilityThreat'
          type: array
        CVSSScoreSets:
          items:
            $ref: '#/components/schemas/VulnerabilityScoreSet'
          type: array
        Remediations:
          items:
            $ref: '#/components/schemas/VulnerabilityRemediation'
          type: array
        References:
          items:
            $ref: '#/components/schemas/VulnerabilityReference'
          type: array
        Acknowledgments:
          items:
            $ref: '#/components/schemas/VulnerabilityAcknowledgment'
          type: array
        Ordinal:
          type: string
        RevisionHistory:
          items:
            $ref: '#/components/schemas/cvrfdocDocumentTrackingRevision'
          type: array
      type: object
    cvrfdocDocumentPublisherContactDetails:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocDocumentPublisherIssuingAuthority:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocDocumentTrackingIdentification:
      example:
        Alias:
          Value: Value
          lang: lang
        ID:
          Value: Value
          lang: lang
      properties:
        ID:
          $ref: '#/components/schemas/cvrfdocDocumentTrackingIdentificationID'
        Alias:
          $ref: '#/components/schemas/cvrfdocDocumentTrackingIdentificationAlias'
      type: object
    cvrfdocDocumentTrackingRevision:
      example:
        Description:
          Value: Value
          lang: lang
        Number: Number
        Date: 2000-01-23T04:56:07.000+00:00
      properties:
        Number:
          type: string
        Date:
          format: date-time
          type: string
        Description:
          $ref: '#/components/schemas/cvrfdocDocumentTrackingRevisionDescription'
      type: object
    cvrfdocDocumentTrackingGenerator:
      example:
        DateSpecified: true
        Engine:
          Value: Value
          lang: lang
        Date: 2000-01-23T04:56:07.000+00:00
      properties:
        Engine:
          $ref: '#/components/schemas/cvrfdocDocumentTrackingGeneratorEngine'
        Date:
          format: date-time
          type: string
        DateSpecified:
          type: boolean
      type: object
    cvrfdocReferenceDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocAcknowledgmentName:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocAcknowledgmentOrganization:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocAcknowledgmentDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    BranchType:
      example:
        Type: 5
        Items:
        - '{}'
        - '{}'
        Name: Name
      properties:
        Items:
          items:
            properties: {}
            type: object
          type: array
        Type:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          format: int32
          type: integer
        Name:
          type: string
      type: object
    FullProductName:
      example:
        Value: Value
        CPE: CPE
        ProductID: ProductID
      properties:
        ProductID:
          type: string
        CPE:
          type: string
        Value:
          type: string
      type: object
    ProductTreeRelationship:
      example:
        RelatesToProductReference: RelatesToProductReference
        ProductReference: ProductReference
        RelationType: 2
        FullProductName:
        - Value: Value
          CPE: CPE
          ProductID: ProductID
        - Value: Value
          CPE: CPE
          ProductID: ProductID
      properties:
        FullProductName:
          items:
            $ref: '#/components/schemas/FullProductName'
          type: array
        ProductReference:
          type: string
        RelationType:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        RelatesToProductReference:
          type: string
      type: object
    ProductTreeGroup:
      example:
        Description:
          Value: Value
          lang: lang
        ProductID:
        - ProductID
        - ProductID
        GroupID: GroupID
      properties:
        Description:
          $ref: '#/components/schemas/ProductTreeGroupDescription'
        ProductID:
          items:
            type: string
          type: array
        GroupID:
          type: string
      type: object
    VulnerabilityTitle:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityID:
      example:
        Value: Value
        SystemName: SystemName
      properties:
        SystemName:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityNote:
      example:
        Type: 7
        Audience: Audience
        Ordinal: Ordinal
        Value: Value
        Title: Title
        lang: lang
      properties:
        Title:
          type: string
        Audience:
          type: string
        Type:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          format: int32
          type: integer
        Ordinal:
          type: string
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityInvolvement:
      example:
        Status: 3
        Description:
          Value: Value
          lang: lang
        Party: 9
      properties:
        Description:
          $ref: '#/components/schemas/VulnerabilityInvolvementDescription'
        Party:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int32
          type: integer
        Status:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          format: int32
          type: integer
      type: object
    VulnerabilityCWE:
      example:
        Value: Value
        ID: ID
        lang: lang
      properties:
        ID:
          type: string
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityStatus:
      example:
        Type: 2
        ProductID:
        - ProductID
        - ProductID
      properties:
        ProductID:
          items:
            type: string
          type: array
        Type:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          format: int32
          type: integer
      type: object
    VulnerabilityThreat:
      example:
        Type: 4
        Description:
          Value: Value
          lang: lang
        ProductID:
        - ProductID
        - ProductID
        DateSpecified: true
        Date: 2000-01-23T04:56:07.000+00:00
        GroupID:
        - GroupID
        - GroupID
      properties:
        Description:
          $ref: '#/components/schemas/VulnerabilityThreatDescription'
        ProductID:
          items:
            type: string
          type: array
        GroupID:
          items:
            type: string
          type: array
        Type:
          enum:
          - 0
          - 1
          - 2
          - 3
          format: int32
          type: integer
        Date:
          format: date-time
          type: string
        DateSpecified:
          type: boolean
      type: object
    VulnerabilityScoreSet:
      example:
        TemporalScore: 1.2315135367772556
        EnvironmentalScore: 1.0246457001441578
        ProductID:
        - ProductID
        - ProductID
        BaseScore: 7.386281948385884
        Vector: Vector
      properties:
        BaseScore:
          format: double
          type: number
        TemporalScore:
          format: double
          type: number
        EnvironmentalScore:
          format: double
          type: number
        Vector:
          type: string
        ProductID:
          items:
            type: string
          type: array
      type: object
    VulnerabilityRemediation:
      example:
        Type: 1
        Description:
          Value: Value
          lang: lang
        RestartRequired:
          Value: Value
          lang: lang
        SubType: SubType
        AffectedFiles:
        - FilePath: FilePath
          FileArchitecture: FileArchitecture
          FileName: FileName
          FileVersion: FileVersion
          FileLastModified: 2000-01-23T04:56:07.000+00:00
          ProductId: ProductId
        - FilePath: FilePath
          FileArchitecture: FileArchitecture
          FileName: FileName
          FileVersion: FileVersion
          FileLastModified: 2000-01-23T04:56:07.000+00:00
          ProductId: ProductId
        Supercedence: Supercedence
        ProductID:
        - ProductID
        - ProductID
        DateSpecified: true
        Entitlement:
        - Value: Value
          lang: lang
        - Value: Value
          lang: lang
        URL: URL
        Date: 2000-01-23T04:56:07.000+00:00
        GroupID:
        - GroupID
        - GroupID
      properties:
        Description:
          $ref: '#/components/schemas/VulnerabilityRemediationDescription'
        Entitlement:
          items:
            $ref: '#/components/schemas/VulnerabilityRemediationEntitlement'
          type: array
        URL:
          type: string
        Supercedence:
          type: string
        ProductID:
          items:
            type: string
          type: array
        GroupID:
          items:
            type: string
          type: array
        Type:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          format: int32
          type: integer
        Date:
          format: date-time
          type: string
        DateSpecified:
          type: boolean
        AffectedFiles:
          items:
            $ref: '#/components/schemas/AffectedFile'
          type: array
        RestartRequired:
          $ref: '#/components/schemas/VulnerabilityRemediationRestartRequired'
        SubType:
          type: string
      type: object
    VulnerabilityReference:
      example:
        Type: 6
        Description:
          Value: Value
          lang: lang
        URL: URL
      properties:
        URL:
          type: string
        Description:
          $ref: '#/components/schemas/VulnerabilityReferenceDescription'
        Type:
          enum:
          - 0
          - 1
          format: int32
          type: integer
      type: object
    VulnerabilityAcknowledgment:
      example:
        Organization:
        - Value: Value
          lang: lang
        - Value: Value
          lang: lang
        Description:
          Value: Value
          lang: lang
        URL:
        - URL
        - URL
        Name:
        - Value: Value
          lang: lang
        - Value: Value
          lang: lang
      properties:
        Name:
          items:
            $ref: '#/components/schemas/VulnerabilityAcknowledgmentName'
          type: array
        Organization:
          items:
            $ref: '#/components/schemas/VulnerabilityAcknowledgmentOrganization'
          type: array
        Description:
          $ref: '#/components/schemas/VulnerabilityAcknowledgmentDescription'
        URL:
          items:
            type: string
          type: array
      type: object
    cvrfdocDocumentTrackingIdentificationID:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocDocumentTrackingIdentificationAlias:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocDocumentTrackingRevisionDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    cvrfdocDocumentTrackingGeneratorEngine:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    ProductTreeGroupDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityInvolvementDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityThreatDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityRemediationDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityRemediationEntitlement:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    AffectedFile:
      example:
        FilePath: FilePath
        FileArchitecture: FileArchitecture
        FileName: FileName
        FileVersion: FileVersion
        FileLastModified: 2000-01-23T04:56:07.000+00:00
        ProductId: ProductId
      properties:
        ProductId:
          type: string
        FileName:
          type: string
        FileVersion:
          type: string
        FilePath:
          type: string
        FileLastModified:
          format: date-time
          type: string
        FileArchitecture:
          type: string
      type: object
    VulnerabilityRemediationRestartRequired:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityReferenceDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityAcknowledgmentName:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityAcknowledgmentOrganization:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    VulnerabilityAcknowledgmentDescription:
      example:
        Value: Value
        lang: lang
      properties:
        lang:
          type: string
        Value:
          type: string
      type: object
    CarsDto:
      description: a Common Abuse Reporting System (CARS) submission
      example:
        testSubmission: true
        carsAdvancedCheck: true
        reporterInfo:
          reporterEmail: someone@contoso.com
          reporterName: First Last
          reporterPhone: 000-000-0000
          reporterOrg: Contoso
          discloseEmail: "true"
          reporterNotes: This is example reporter information.
        reports:
        - report:
            batchID: campaign X
            relatedCases:
            - TODO
            reportNotes: This is an example abuse report.
            tlp: WHITE
            disclosureNotes: Share freely.
            threats:
            - threat:
                threatType: activity
                threatSubType: spam
                sourceIp: 1.1.1.1
                destinationIp: 2.2.2.2
                sourcePort: "1"
                destinationPort: "2"
                protocol: "0"
                byteCount: "1"
                packetCount: "1"
                date: 2000-01-20
                time: 00:00:00
                timeZone: -00:00
                sample: This is example activity threat information.
                sampleType: text/plain
            - threat:
                threatType: content
                threatSubType: malware
                sourceUrl: evil.com
                destinationUrl: example.com
                protocol: "0"
                date: 2000-01-20
                time: 00:00:00
                timeZone: -00:00
                sample: This is example content threat information.
                sampleType: text/plain
      properties:
        testSubmission:
          description: is this a test submission? If so, the API will validate the
            input but won't submit it to MSRC for action
          type: boolean
        carsAdvancedCheck:
          description: do the reports include detailed fields? This can be false only
            for form submissions (API users should ignore it)
          type: boolean
        reporterInfo:
          $ref: '#/components/schemas/ReporterInfo'
        reports:
          description: reports of abuse
          items:
            $ref: '#/components/schemas/Report'
          type: array
      required:
      - reporterInfo
      - reports
      - testSubmission
      type: object
    ReporterInfo:
      description: information about the reporter
      properties:
        reporterEmail:
          description: reporter email address, may be used for further correspondence
          type: string
        reporterName:
          description: reporter name
          type: string
        reporterPhone:
          description: reporter phone number
          type: string
        reporterOrg:
          description: reporter organization
          type: string
        discloseEmail:
          description: allow response organization to share reporter email with an
            external incident resolver as appropriate?
          type: string
        reporterNotes:
          description: any other relevant information about the reporter or reporter
            organization
          type: string
      required:
      - discloseEmail
      - reporterEmail
      - reporterName
      - reporterNotes
      type: object
    Report:
      description: abuse report
      properties:
        report:
          $ref: '#/components/schemas/Report1'
      required:
      - report
      type: object
    Report1:
      description: abuse report
      properties:
        batchID:
          description: tag and group reports
          type: string
        relatedCases:
          description: IDs of known related cases
          items:
            type: string
          type: array
        reportNotes:
          description: a brief summary of what occurred
          type: string
        TLP:
          description: "[Traffic Light Protocol](https://www.us-cert.gov/tlp) color\
            \ (RED, AMBER, GREEN, or WHITE) to regulate the level of\r\ndisclosure"
          type: string
        disclosureNotes:
          description: any additional limits on disclosure
          type: string
        threats:
          description: instances of abuse
          items:
            $ref: '#/components/schemas/Threat'
          type: array
      required:
      - reportNotes
      - threats
      type: object
    Threat:
      description: an instance of abuse
      properties:
        threat:
          $ref: '#/components/schemas/Threat1'
      required:
      - threat
      type: object
    Threat1:
      description: an instance of abuse
      properties:
        threatType:
          description: 'threat type: activity or content'
          type: string
        threatSubType:
          description: threat subtype (depends on threat type)
          type: string
        sourceIp:
          description: IP address sending unwanted traffic (required for activity
            threats)
          type: string
        destinationIp:
          description: IP address receiving unwanted traffic (required for activity
            threats)
          type: string
        sourcePort:
          description: port sending unwanted traffic
          type: string
        destinationPort:
          description: port receiving unwanted traffic
          type: string
        sourceUrl:
          description: URL hosting abusive content (required for content threats)
          type: string
        destinationUrl:
          description: URL receiving abusive content (required for content threats)
          type: string
        protocol:
          description: '[internet protocol number](http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml)
            of the protocol being used to send or serve abusive traffic or data'
          type: string
        byteCount:
          description: total number of bytes received for reported traffic (activity
            threats only)
          type: string
        packetCount:
          description: total number of packets received for reported traffic (activity
            threats only)
          type: string
        date:
          description: date of abuse
          type: string
        time:
          description: time of abuse
          type: string
        timeZone:
          description: reporter time zone
          type: string
        sample:
          description: sample data/artifacts relating to abuse
          type: string
        sampleType:
          description: '[Media Type](https://www.iana.org/assignments/media-types/media-types.xhtml)
            of sample (required if sample is provided)'
          type: string
      required:
      - date
      - threatSubType
      - threatType
      - time
      - timeZone
      type: object
    Update:
      description: summary information about a security release (CVRF document)
      example:
        Alias: Alias
        Severity: Severity
        ID: ID
        CvrfUrl: CvrfUrl
        DocumentTitle: DocumentTitle
        CurrentReleaseDate: 2000-01-23T04:56:07.000+00:00
        InitialReleaseDate: 2000-01-23T04:56:07.000+00:00
      properties:
        ID:
          description: unique identifier for CVRF document, often yyyy-mmm
          type: string
        Alias:
          description: alternative ID for CVRF document
          type: string
        DocumentTitle:
          description: title of CVRF document
          type: string
        Severity:
          description: aggregate severity
          type: string
        InitialReleaseDate:
          description: date that the CVRF document was initially released
          format: date-time
          type: string
        CurrentReleaseDate:
          description: date that the CVRF document was last modified
          format: date-time
          type: string
        CvrfUrl:
          description: URL of CVRF document (for CVRF endpoint)
          type: string
      required:
      - Alias
      - CurrentReleaseDate
      - CvrfUrl
      - DocumentTitle
      - ID
      - InitialReleaseDate
      type: object
    inline_response_200:
      example:
        '@odata.context': http://example.com/aeiou
        value:
        - Alias: Alias
          Severity: Severity
          ID: ID
          CvrfUrl: CvrfUrl
          DocumentTitle: DocumentTitle
          CurrentReleaseDate: 2000-01-23T04:56:07.000+00:00
          InitialReleaseDate: 2000-01-23T04:56:07.000+00:00
        - Alias: Alias
          Severity: Severity
          ID: ID
          CvrfUrl: CvrfUrl
          DocumentTitle: DocumentTitle
          CurrentReleaseDate: 2000-01-23T04:56:07.000+00:00
          InitialReleaseDate: 2000-01-23T04:56:07.000+00:00
      properties:
        '@odata.context':
          description: OData metadata for the request
          format: url
          type: string
        value:
          description: array of security update summaries
          items:
            $ref: '#/components/schemas/Update'
          type: array
      required:
      - '@odata.context'
      - value
      type: object
  securitySchemes:
    apiKeyHeader:
      description: API Key Header
      in: header
      name: api-key
      type: apiKey
    oauth2:
      description: OAuth2Microsoft AAD
      flows:
        authorizationCode:
          authorizationUrl: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize
          scopes: {}
          tokenUrl: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token
      type: oauth2
x-original-swagger-version: "2.0"
